<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<p>Views: <%= @article.views %></p>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<ul>
  <li><%= link_to t(:edit), edit_article_path(@article) %></li>
  <li><%= link_to t(:destroy), article_path(@article),
                  method: :delete,
                  data: { confirm: t(:are_you_sure) } %></li>
</ul>
